{% load users %}
{% load utils %}
{% is_internal as is_internal_login %}
{% is_silrec_admin as is_silrec_admin_user %}
{% has_access as has_access %}
{% system_name_short as short_name %}
{% dept_name as department_name %}
{% system_name as system_name %}
{% system_name_short as system_name_short %}
{% support_email as support_email %}
{% build_tag as build_tag %}
{% show_menus as show_menus %}

<ul class="nav navbar-expand-lg navbar-light align-items-center">
{% if is_internal_login and has_access and show_menus %}
    <li class="nav-item"><a class="nav-link" href="/internal/treatments">Treatments</a></li>
    <li class="nav-item"><a class="nav-link" href="/internal/map">Map</a></li>
    <li class="nav-item"><a class="nav-link" href="/internal/reports">Reports</a></li>
    <li class="nav-item"><a class="nav-link" href="/internal/search">Search</a></li>
{% endif %}
</ul>
