{% load users %}
{% is_silrec_admin as is_silrec_admin_user %}
{% if is_silrec_admin_user %}
<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
<li><a class="dropdown-item" href="{% url 'db-dump-list' %}">DB Exports</a></li>
{% endif %}
{% can_view_reports as can_view_reports_flag %}
{% if can_view_reports_flag %}
<li><a class="dropdown-item" href="{% url 'generated-report-list' %}">Generated Reports</a></li>
{% endif %}
<li class="dropdown dropend">
    <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" onclick="event.stopPropagation();">Documents</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'silrec-doc' 'silrec_demo.docx' %}" target="_blank">Silrec Demo Doc</a></li>
        <li><a class="dropdown-item" href="{% url 'silrec-doc' 'silrec_workflow.docx' %}" target="_blank">Silrec Workflow Doc</a></li>
    </ul>
</li>
